
<template name="dashboardLayout">
  <h1>Welcome</h1>
    {{> addTodo}}
    {{> statusTable}}
    {{> button}}
</template>

<template name="todos">
    <ul>
    {{#each getAllAssignedItems}}
        {{> todoItem}}
    {{/each}}
    </ul>
</template>

<template name="todosinprog">
    <ul>
    {{#each getAllTodoItems}}
        {{> todoItem}}
    {{/each}}
    </ul>
</template>

<template name="todosdone">
    <ul>
    {{#each getAllDoneItems}}
        {{> todoItem}}
    {{/each}}
    </ul>
</template>


<template name="addTodo">
    <form>
        <p>Create a task:</p>
        <input type="text" placeholder="Enter task name" name="todoName">
        <input type="text" placeholder="Enter description" name="todoDescription">
        <button id="submit">SAVE</button>
    </form>
</template>

<template name="todoItem">
  <li>
    <p>Task Name: {{name}}</p>
    <p>Description: {{description}}</p>
    <button class='delete-todo'>Delete</button>
    <button class='progress-todo'>Move</button>
  </li>
</template>

<template name="statusTable">
  <table id="status" style="width:100%">
    <tr>
      <th>New Tasks</th>
      <th>In Progress</th>
      <th>Done</th>
    </tr>
    <tr>
      <td>{{> todos}}</td>
      <td>{{> todosinprog}}</td>
      <td>{{> todosdone}}</td>
    </tr>
  </table>
</template>

<template name="button">
  <button class="doNotPush">Do Not Push</button>
</template>