<template name='dashboard'>
  <h1>DASHBOARD YO</h1>
  {{> loginButtons}}
  <!-- {{> todos}} -->
</template>


<!-- Tasks -->
<!-- <template name="todos">
    {{> addTodo}}
    <ul>
    {{#each getAllTodoItems}}
        {{> todoItem}}
    {{/each}}
    </ul>
</template>


<template name="addTodo">
    <form>
        Create a task:
        <input type="text" placeholder="Wat u want?" name="todoName">
        <input type="text" placeholder="Wat u describin?" name="todoDescription">
        <button id="submit">SAVE</button>
    </form>
</template> -->

<!-- <template name="todoItem">
  <li>
    <p>Task Name: {{name}}</p>
    <p>Description: {{description}}</p>
    [<a href='#' class='delete-todo'>Delete</a>]
  </li>
</template> -->

