#status {
  border:2px solid black;
}

th{
  border:2px solid black;
  width:30%;
}

td{
  /*border:2px solid black;*/
  width:30%;
}

.doNotPush {
  background-color: red;
  font-size: 200%;
  border-radius: 50px;
  display: block;
  text-align: center;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
  margin: auto;
}

body {
  /*background-position: center;*/
  background-repeat: no-repeat;
  background-size: 90%;
  /*background-position: center;*/
}

li {
  border: 2px solid orange;
  margin: 20px;
  background-color: yellow;
  list-style-type: none;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
}

.delete-todo {
  float: right;
}